
/*
* sitewide resets
*/
* {
	margin: 0;
	padding: 0;
}
body {
		font-family: 'Crimson Text', sans-serif;
}

a { 
		text-decoration: none;
		color: #369;
}
/* Header and section styles */

header,

section {
		margin: 30px auto;
		width: 825px;
		display: block;
}

/* HR styles */

hr {
	background: white url('...img/img-hr.png') no-repeat scroll 50% 50%;
	clear: both;
	border: 0;
	height: 12px;
}

/* Supscript styles */

sup{
	color: #999;
	font-weight: normal;
	font-size: 11px;
}

/* Navigation */
nav {
	min-width: 100%;
	height: 48px;
	font-family: serif;
}
nav ul{
	float: right;
	margin: 12px 18px;
	padding: 10px 30px;
}

nav li{
	margin: 0 5px;
	padding-left: 5px;
	font-size: 12px;
	display: inline-block;
	color: pink;
}

nav a:hover {
	color: teal;
}

.signin {
	color: #18AFEO;
}
.signin {
	color: 369;
}

/* header */

header {
	clear: both;
	height: 163px;
	padding: 6px 0;
	text-align: center;
}
header h1 {
	font-size: 58px;
	line-height: 1em;
	margin: 10px 0;
	color: teal;
}
header h5 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.5em;
	margin: 10px o;
	color: tomato;
}

/* products */

.products {
	text-align: auto;
	height: 288px;
	padding-bottom: 30px;
}

.products h3 {
	font-size: 21px;
	color: teal;
	font-weight: bold;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.products h3 span {
	text-decoration: underline;
}

.products p {
	color: grey;
	font-size: 14px;
	line-height: 1.4em;
	margin: 5px 0;
}

/* customers */

.customers {
	margin-bottom: 50px;
	position: relative;
}

.customers h2 {
	color: red;
	font-size: 48px;
	line-height: 1.1em;
	letter-spacing: -1px;
	text-align: center;
}

.customers p {
	font-size: 22px;
	line-height: 1.3em;
	color: #666;
	margin-bottom: 20px;
}

/* meet some customers */

.meet {
	position: absolute;
	left: -140px;
	top: 70px;
}


















